@font-face {
  font-family: FlappyBirdy;
  src: url(assets/FlappyBirdy.ttf);
}

body {
  font: 100% FlappyBirdy, sans-serif;
  background-color: #000000;
}

.p5Canvas {
  max-width: 100%;
  width: auto !important;
  height: 80vh !important;
}
